<section class="photos" id="photos">
  <div class="flex flex--center">
    <div class="col-50 flex flex--center dribble" data-orig-color="#ea4c89">
      <div class="col-1">
        <p class="home-lead">...estas fotos...</p>
        <a href="" data-color="orange" class="design-img-link">
          <img src="/assets/img/design-img/be-1.png" alt="" />
        </a>
        <a href="" data-color="#aeb3b0" class="design-img-link">
          <img src="/assets/img/design-img/be-2.jpg" alt="" />
        </a>
        <a href="" data-color="#38decc" class="design-img-link">
          <img src="/assets/img/design-img/be-3.jpg" alt="" />
        </a>
        <a href="" data-color="#d21d16" class="design-img-link">
          <img src="/assets/img/design-img/be-4.jpg" alt="" />
        </a>
        <a href="" data-color="#890cee" class="design-img-link">
          <img src="/assets/img/design-img/be-5.jpg" alt="" />
        </a>
        <a href="" data-color="#d6d599" class="design-img-link">
          <img src="/assets/img/design-img/be-6.png" alt="" />
        </a>
        <div class="cf"></div>
        <a href="/photos/index.html" class="home-cta">Ver melhor</a>
      </div>
    </div>
    <div class="col-50 flex flex--center behance" data-orig-color="#1769ff">
      <div class="col-1">
        <p class="home-lead">...novas aquisições...</p>
        <a href="" data-color="#5aabd5" class="design-img-link">
          <img src="/assets/img/design-img/drib-1.jpg" alt="" />
        </a>
        <a href="" data-color="#d32022" class="design-img-link">
          <img src="/assets/img/design-img/drib-2.jpg" alt="" />
        </a>
        <a href="" data-color="#4c4c4c" class="design-img-link">
          <img src="/assets/img/design-img/drib-3.png" alt="" />
        </a>
        <a href="" data-color="#f59e82" class="design-img-link">
          <img src="/assets/img/design-img/drib-4.jpg" alt="" />
        </a>
        <a href="" data-color="#d57628" class="design-img-link">
          <img src="/assets/img/design-img/drib-5.jpg" alt="" />
        </a>
        <a href="" data-color="#f6c599" class="design-img-link">
          <img src="/assets/img/design-img/drib-6.jpg" alt="" />
        </a>
        <div class="cf"></div>
        <a href="/aquisicoes/index.html" class="home-cta">Ver melhor</a>
      </div>
    </div>
  </div>
</section>
