<section class="articles" id="articles">
  <div class="flex flex--center">
    <div class="col-50">
      <div class="article-wrap">
        {% for article in site.articles limit: 16 %}
        <a
          href="{{article.url}}"
          style="
            background-image: url({{article.cover}});
          "
          class="article-thumb"
        >
          <div class="article-meta">
            <div class="name">{{article.title}}</div>
            <div class="category">{{article.category}}</div>
            <div class="date">{{article.articleDate}}</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="desc-wrap">
          <p class="home-lead outdented">...a aprender sempre e mais...</p>
          <a href="/articles/index.html" class="home-cta">Ver os artigos</a>
        </div>
      </div>
    </div>
  </div>
</section>
