<section class="mentoring" id="mentoring">
  <div class="flex flex--center">
    <div class="col-1">
      <ul class="faces">
        <li
          style="background-image: url(../assets/img/chuckfacts/blbee.jpg)"
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage my time effectively to get most out of my personal
              projects. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.","L.J
              Bennett"
            </p>
          </div>
        </li>
        <li
          style="
            background-image: url(../assets/img/chuckfacts/chucknorris8.jpg);
          "
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage my time effectively to get most out of my personal
              projects. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.","L.J
              Bennett"
            </p>
          </div>
        </li>
        <li
          style="background-image: url(../assets/img/chuckfacts/death.jpg)"
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.
            </p>
            <cite>- Andrew Wheeler</cite>
          </div>
        </li>
        <li
          style="background-image: url(../assets/img/chuckfacts/jb.jpg)"
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage my time effectively to get most out of my personal
              projects. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.","L.J
              Bennett"
            </p>
          </div>
        </li>
        <li
          style="background-image: url(../assets/img/chuckfacts/narm.jpg)"
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage my time effectively to get most out of my personal
              projects. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.","L.J
              Bennett"
            </p>
          </div>
        </li>
        <li
          style="background-image: url(../assets/img/chuckfacts/slee.jpg)"
          class="face"
        >
          <div class="bubble">
            <p>
              He provided me with a clear perspective of how I could utilise and
              manage my time effectively to get most out of my personal
              projects. But most importantly Travis eased some of the concerns I
              once had about landing a job in the Web Design industry.","L.J
              Bennett"
            </p>
          </div>
        </li>
        <li class="back-btn face"></li>
      </ul>
    </div>
    <div class="col-1">
      <p class="home-lead outdented">...brincar com isto tudo...</p>
      <a href="https://www.youtube.com" class="home-cta">Rir a bom rir</a>
    </div>
  </div>
</section>
